{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGPT Reestablecer</title>
    <link rel="icon" href="{% static 'images/logo-unt.png' %}" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/jurado_login.css' %}">
</head>
<body>
    <div class="login-container">
        <h1>REESTABLECER</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <div class="input-container">
                    <i class="fas fa-envelope"></i>
                    <input type="text" name="email" placeholder="Email" required>
                </div>
            </div>
            <button type="submit" class="submit-button">
                <i class="fas fa-paper-plane"></i> Enviar
            </button>
        </form>
    </div>

    <!-- Modal -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <p>{{ mensaje }}</p>
        </div>
    </div>

    <script>
        const mostrarModal = "{{ mostrar_modal|yesno:'true,false' }}" === "true";
        const mensaje = "{{ mensaje }}"; 

        if (mostrarModal) {
            const modal = document.getElementById('modal');
            modal.style.display = 'flex';

            if (mensaje.includes("correctamente")) { 
                setTimeout(function() {
                    window.location.href = "{% url 'administrativo_login' %}"; 
                }, 1500); 
            } else {
                setTimeout(closeModal, 1500); 
            }
        }

        function closeModal() {
            document.getElementById('modal').style.display = 'none';
        }
    </script>
</body>
</html>