{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resetear Contraseña</title>
    <link rel="icon" href="{% static 'images/logo-unt.png' %}" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/jurado_login.css' %}">
</head>
<body>
    <div class="login-container">
        <h1>RESETEAR</h1>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="token" value="{{ token }}">
            <div class="form-group">
                <div class="input-container">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="password" id="password" placeholder="Nueva Clave" required>
                    <i class="fas fa-eye" id="togglePassword" style="cursor: pointer;"></i>
                </div>
                <div class="input-container">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirme la Clave" required>
                    <i class="fas fa-eye" id="toggleConfirmPassword" style="cursor: pointer;"></i>
                </div>
            </div>
            <button type="submit" class="submit-button">
                <i class="fas fa-save"></i> Guardar
            </button>
        </form>
    </div>

    <!-- Modal -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <p>{{ mensaje }}</p>
        </div>
    </div>

    <script>
        const mostrarModal = "{{ mostrar_modal|yesno:'true,false' }}" === "true";
        const togglePassword = document.getElementById('togglePassword');
        const passwordInput = document.getElementById('password');
        const toggleConfirmPassword = document.getElementById('toggleConfirmPassword');
        const confirmPasswordInput = document.getElementById('confirm_password');

        togglePassword.addEventListener('click', () => {
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
            togglePassword.classList.toggle('fa-eye-slash');
        });

        toggleConfirmPassword.addEventListener('click', () => {
            const type = confirmPasswordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            confirmPasswordInput.setAttribute('type', type);
            toggleConfirmPassword.classList.toggle('fa-eye-slash');
        });

        if (mostrarModal) {
            const modal = document.getElementById('modal');
            modal.style.display = 'flex';

            if ("{{ mensaje }}".includes("correctamente")) { 
                setTimeout(function() {
                    window.location.href = "{% url 'jurado_login' %}"; 
                }, 1500); 
            } else {
                setTimeout(closeModal, 1500); 
            }
        }

        function closeModal() {
            document.getElementById('modal').style.display = 'none';
        }
    </script>
</body>
</html>
